<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta6-11465" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.Framework.DependencyInjection.Abstractions" version="1.0.0-beta6-11465" targetFramework="net46" userInstalled="true" />
</packages>